 *{
                    margin: 0;
                    padding: 0;
                }
                body{
                    background-color: lightyellow;
                }
                #head{
                    text-align: center;
                    color: darkblue;
                    margin-top: 20px;
                }
                #container{
                    background-color: lightgreen;
                    color: darkblue;
                    width: 500px;
                    height: 600px;
                    border: 2px solid black;
                    border-radius: 30px;
                    margin: 100px  400px 200px 510px;
                }
                .screen{
                    width: 450px;
                    height: 100px;
                    background-color: white;
                    margin: 10px 20px 10px 20px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 30px;
                    padding: 20px;
                    box-sizing: border-box;
                    overflow-x: auto;

                }
                .buttons{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 10px;
                    width: 90%;
                    margin: 30px auto;
                    justify-items: center;
                }
                button{
                    width: 82px;
                    height: 60px;
                    margin: 5px;
                    font-size: 22px;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    background-color: white;    
                    color: darkblue;
                    font-weight: bold;  
                    transition: 0.2s;

                }
                button:hover{
                    background-color: darkblue;
                    color: white;
                }